@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #01151f;
  --foreground: #EAE2B7;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #01151f;
    --foreground: #EAE2B7;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.poppins {
  font-family: "Poppins", sans-serif;
}
.gajraj-one-regular {
  font-family: "Gajraj One", sans-serif;
  font-weight: 400;
  font-style: normal;
}